.favouriteContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
  
}
.favouriteContainer p{
    font-family: fantasy;
font-size: 30px;
}